:root {
    --calc-width: 350px;
    --calc-height: 500px;
    --display-height: calc(var(--calc-height) * 0.12);
    --btn-width: calc(var(--calc-width) / 4.5);
    --gap-width: calc((var(--calc-width) - var(--btn-width)*4) / 3);
    --display-font-size: 24px;
    --btn-font-size: 24px;
    --error-font-size: 30px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    width: var(--calc-width);
    height: var(--calc-height);
    border: 2px solid black;
    padding: 15px;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
}

.display {
    height: var(--display-height);
    border: 2px solid black;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 20px;
    border-radius: 20px;
}

.display-text {
    margin-bottom: 10px;
    margin-right: 5px;
    font-size: var(--display-font-size);
}

.btn-body {
    flex: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--gap-size);
}

.btn-body div {
    flex: auto; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calc-btn, .large-calc-btn {
    border-radius: calc(var(--btn-width)/2);
    background-color: white;
    font-size: var(--btn-font-size);
    height: var(--btn-width);   
}

.calc-btn {
    width: var(--btn-width);
}

.large-calc-btn {
    /* 
        To keep buttons aligned, big button must take into account the size of
        the gaps between smaller buttons.
     */
    width: calc(var(--gap-width) + (var(--btn-width) * 2));
}

@keyframes btn-lift {
    from {transform: translateY(0px);}
    to {transform: translateY(-5px);}    
}

@keyframes btn-press {
    from {transform: translateY(-5px);}
    to {transform: translateY(0px);}    
}

.calc-btn:hover, .large-calc-btn:hover {
    border-radius: calc(var(--btn-width)/2);
    background-color: white;
    height: var(--btn-width);
    animation-name: btn-lift;
    animation-duration: 0.02s;   
    transform: translateY(-5px);
    box-shadow: 0px 7px rgb(217, 220, 225);    
}

.calc-btn:active, .large-calc-btn:active {
    transform: translateY(5px);
    box-shadow: none;
    animation-name: btn-press;
    animation-duration: 0.02s;
}

#error-msg {
    font-size: var(--error-font-size);
    line-height: var(--error-font-size);
}