:root {
    --calc-width: 350px;
    --calc-height: 550px;
    --display-height: calc(var(--calc-height) * 0.2);
    --btn-width: calc(var(--calc-width) / 4.5);
    --gap-width: calc((var(--calc-width) - var(--btn-width)*4) / 3);
    --display-font-size: 24px;
    --result-font-size: 36px;
    --btn-font-size: 24px;
    --error-font-size: 30px;
    --background-color: #5ac5f6;
    --calculator-color: #222223;
    --button-color: #585858;
    --button-hover-shadow-color: #0f0f10; 
    --button-highlight-color: #e2e2e2;
    --display-color: #313131;
    --display-text-color: #f72978;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background-color);
    font-family: Arial, Helvetica, sans-serif;
}

.calculator {
    width: var(--calc-width);
    height: var(--calc-height);
    background-color: var(--calculator-color);
    padding: 15px;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    box-shadow: 0px 5px 10px black;
}

.display {
    height: var(--display-height);
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: var(--display-color);
    box-shadow: 1px 1px 5px black inset;
    color: white;
}

.display p {
    margin: 0px;
    text-align: right;
    padding-right: 10px;
}

.display-text {
    flex: auto;
    padding-top: 10px;
    font-size: var(--display-font-size);
    color: var(--display-text-color);
}

.result {
    flex: 2 1 auto;
    font-size: var(--result-font-size);
}

.btn-body {
    flex: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--gap-size);
}

.btn-body div {
    flex: auto; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calc-btn, .large-calc-btn {
    border-radius: calc(var(--btn-width)/2);
    border: 1px solid var(--button-color);
    font-size: var(--btn-font-size);
    height: var(--btn-width);   
    background-color: var(--button-color);
    color: white;  
    box-shadow: 0px 5px 5px black;; 
}

.calc-btn {
    width: var(--btn-width);
}

.large-calc-btn {
    /* 
        To keep buttons aligned, big button must take into account the size of
        the gaps between smaller buttons.
     */
    width: calc(var(--gap-width) + (var(--btn-width) * 2));
}

@keyframes btn-lift {
    from {transform: translateY(0px);}
    to {transform: translateY(-5px);}    
}

@keyframes btn-press {
    from {transform: translateY(-5px);}
    to {transform: translateY(0px);}    
}

.calc-btn:hover, .large-calc-btn:hover {
    border-radius: calc(var(--btn-width)/2);
    height: var(--btn-width);
    animation-name: btn-lift;
    animation-duration: 0.02s;   
    transform: translateY(-5px);
    box-shadow: 0px 7px var(--button-hover-shadow-color);  
    background-color: var(--button-highlight-color);
    color: black;  
    font-weight: bold;
}

.calc-btn:active, .large-calc-btn:active {
    transform: translateY(5px);
    box-shadow: none;
    animation-name: btn-press;
    animation-duration: 0.02s;
}

#error-msg {
    font-size: var(--error-font-size);
    line-height: var(--error-font-size);
}